<main>
    <div class="div-main" >
        <h2 id="texto-title">Mesas del restaurante</h2>
        <div class="carta">
            <mat-card class="example-card">
                
                <img mat-card-lg-image  src="../../assets/mesa.png">
               
                <mat-card-actions>
                    <button class="btn-add" (click)="comandaMesa('1')" mat-raised-button color="primary">Mesa 1</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
              
                <img mat-card-lg-image  src="../../assets/mesa.png">
               
                <mat-card-actions>
                    <button class="btn-add" (click)="comandaMesa('2')" mat-raised-button color="primary">Mesa 2</button>
                </mat-card-actions>
              </mat-card>
           
        </div>
    </div> 
</main>