<main>
        <div class="div-main" >
          <button  class="btn-add-2" [routerLink]="['/mesas']" mat-raised-button color="primary">Volver</button>

              <mat-tab-group (selectedIndexChange)="updatePagination()" animationDuration="0ms" id="tabs" mat-stretch-tabs="false" mat-align-tabs="center">
              <mat-tab label="Principales">
                <div class="carta">

                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Filete con patatas</mat-card-title>
                      <mat-card-subtitle>7€</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-lg-image  src="../../assets/filete-patatas.jpg">
                   
                    <mat-card-actions>
                        <button class="btn-add" (click)="addPlato('filete-patatas')" mat-raised-button color="primary">Añadir plato</button>
                    </mat-card-actions>
                  </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Croquetas</mat-card-title>
                      <mat-card-subtitle>5€</mat-card-subtitle>
                    </mat-card-header>
                    <img img mat-card-lg-image  src="../../assets/croquetas.jpg">
                   
                    <mat-card-actions >
                        <button  class="btn-add" (click)="addPlato('croquetas')" mat-raised-button color="primary">Añadir plato</button>
                    </mat-card-actions>
                  </mat-card>
                </div>

                </mat-tab> 
                <mat-tab label="Postre">
                  <div class="carta">

                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Tarta de queso</mat-card-title>
                        <mat-card-subtitle>3€</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-lg-image  src="../../assets/tqueso.jpg">
                     
                      <mat-card-actions>
                          <button class="btn-add" (click)="addPlato('tarta-queso')" mat-raised-button color="primary">Añadir plato</button>
                      </mat-card-actions>
                    </mat-card>
                  <mat-card class="example-card">
                      <mat-card-header>
                        <mat-card-title>Tarta de chocolate</mat-card-title>
                        <mat-card-subtitle>3€</mat-card-subtitle>
                      </mat-card-header>
                      <img img mat-card-lg-image  src="../../assets/tchoco.jpg">
                     
                      <mat-card-actions >
                          <button  class="btn-add" (click)="addPlato('tarta-chocolate')" mat-raised-button color="primary">Añadir plato</button>
                      </mat-card-actions>
                    </mat-card>
                    </div>
                  </mat-tab> 
              </mat-tab-group>

        <footer>
             
                <button class="btn-footer" (click)="addComanda()" mat-raised-button color="primary">Añadir comanda</button>
            </footer>
            </div>
</main>